
extends layout

block content
  h1 New Book

  if errors
    h2.error Oooops!
    ul.error
      each error in errors
        li= error.message

  form(method="post", action="/books/new")
    div.form-group
      label(for='title') Title
      input.form-control(name='title', type='text', id='title', value=(book ? book.title : ''))
    div.form-group
      label(for='author') Author
      input.form-control(name='author', type='text', id='author', value=(book ? book.author : ''))
    div.form-group
      label(for='genre') Genre
      input.form-control(name='genre', type='text', id='genre', value=(book ? book.genre : ''))
    div.form-group
      label(for='year') Year
      input.form-control(name='year', type='text', id='year', value=(book ? book.year : ''))
    button.btn.btn-primary(type='submit') Create New Book
    a.btn.btn-secondary(href='/books') Cancel
