extends layout.pug

block content
  h1 Update Book
  form(method='POST', action='/books/' + book.id)
    .form-group
      label(for='title') Title
      input#title.form-control(type='text', name='title', value=book.title)
    .form-group
      label(for='author') Author
      input#author.form-control(type='text', name='author', value=book.author)
    .form-group
      label(for='genre') Genre
      input#genre.form-control(type='text', name='genre', value=book.genre)
    .form-group
      label(for='year') Year
      input#year.form-control(type='text', name='year', value=book.year)
    .form-group
      input.btn.btn-primary(type='submit', value='Update Book')

  form(method='POST', action='/books/' + book.id + '/delete', onsubmit="return confirm('Do you really want to delete this book?');")
    .form-group
      a.btn.btn-secondary(href='/books') Cancel
    .form-group
      input.btn.btn-danger(type='submit', value='Delete Book')
